.botonera
	.button_wrapper
		.button_underneath.button_underneath_2
			a(href="#product/create", class="button", style="width: 117px") Nuevo Producto	
.big_contenido
	#product(align="center", class="font")
		<br />
		font(size="6", class="titulo")	Productos		
		input(name="busqueda", type="text", value="Que deseas buscar", class="campos2 busqueda")
	br
	-for (var i=0; i<hola.length; i++)
		.productos_individual(onclick="location.href='#product/view/#{hola[i].id}'")	
			table(cellspacing="0")
				tr
					td(rowspan="3", valign="middle")
						img(src="images/products/#{hola[i].id}.min.jpg", class="border_corner_img_min")
				tr
					td(style="padding-left:10px")
						h3	#{hola[i].titulo} 
				tr(class="font")
					td(style="padding-left:10px")	#{hola[i].precio} 
					td(align="right")	[#{hola[i].cantidad_inicial},#{hola[i].cantidad_restante}]